<div class="header">
    <nav class="navbar">
        <div id="menu-link">
            <ul class="navbar-list">
                <li class="navbar-item"><a href="/seller/dashboard">Home </a></li>
                <li class="navbar-item"><a href="/seller/add_product">Add Product</a></li>
                <li class="navbar-item"><a href="/seller/orders">Orders</a></li>
                <li class="navbar-item"><a href="/seller/report">Report</a></li>
            </ul>
        </div>
        <div id="user-menu">
            <p id="current-user"><%= username%></p>
            <button id="logoutBtn">Logout</button>
        </div>
    </nav>
</div>