.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 1px 2px 5px 5px #ccc;
    width: 90vw;
    border-radius: 10px 10px 10px 10px;
}
